:root {
  /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    
        @author McKilla Gorilla
    */
  --swatch-foundation: #fffec1;
  --swatch-logo: #d8ac34; 
  --swatch-dark-gray: #c4c4c4;
  --swatch-light-gray: #e0e0e0;
  --swatch-dark-blue: #2c2f70;
  --swatch-light-blue: #d4d4f5;
  --swatch-comments: #d4af37;
  --my-font-family: "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
    background-color: var(--swatch-foundation);

}

.home-screen {
    background-color: var(--swatch-dark-gray);
    display: block;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    height: 97vh;
    overflow-y: auto;

}
.foundation-screen {
    background-image: linear-gradient(45deg,var(--swatch-dark-blue),var(--swatch-light-blue));
    display: block;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    justify-content: center;
    text-align: center;
    height:700px;
}

#all-lists {
  overflow-y: scroll;
  height: 70%;

}

/* Make buttons center vertically with a gap between them */
.splash-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 25px;
}



.splash-text{
    color: var(--swatch-comments);
    width: 30%;
    margin-left : auto;
    margin-right: auto;
}

.app-logo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}


.navbar {
    fontSize: 10%;
}

#statusbar {
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: var(--swatch-dark-gray);
    border-radius: 10px;
    margin: 12px 12px 10px 12px;
    /* box-sizing: border-box; */
    
    position: absolute;
    right: 0;   
    bottom: 0;
    left: 0;
    z-index: 1;
}

#workspace-edit{
    background-color: var(--swatch-light-blue);
    border-radius: 10px;
    margin: 0px 10px 15px 10px;
    
}

#workspace-items{
    background-color: var(--swatch-dark-blue);
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
    display: block;

}

#workspace-item{
    display: flex;

}

#edit-numbering{
    /* display: flex; */
    /* flex-direction: column; */

}

.item-number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4%;
    margin: 7px 7px 7px 7px;
    background-color: var(--swatch-comments);
    border-radius: 10px;
    
}

.top5-item{
    background-color: var(--swatch-comments);
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 7px 7px 7px 7px;
    border-radius: 10px;
}

.list-item{
    width: 90%;
}


#workspace-buttons{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 10px;
    /* margin-bottom: 10px;     */
    padding-bottom: 10px;
    gap: 10px;;    
}
